In [1]:
a=10

In [3]:
a='c'

In [4]:
type(a)

str

In [5]:
int

int

In [6]:
int(0)

0

In [8]:
int('123')

123

In [9]:
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [10]:
print('Hello World')

Hello World

In [11]:
print(123)

123

In [12]:
print('13')

13

In [13]:
age=30
print( "My age is : ", age)

My age is :  30

In [16]:
age=30
print( "My age is:",age)

My age is: 30

In [17]:
print("My age is: {age}")

My age is: {age}

In [ ]:
# f for formatting
## f string

In [18]:
print(f"My age is: {age}")

My age is: 30

In [19]:
## format()
name="Swati"
age=30
print("My name is {} and age is {}".format(name,age))

My name is Swati and age is 30

In [20]:
print("My name is {} and age is {}".format(age,name))

My name is 30 and age is Swati

In [21]:
##placeholder--- variable
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is Swati and age is 30

In [23]:
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is Swati and age is 30

In [ ]:
name="Swati"
age=30
degree="BE"

"My age is 30 and i have completed: my degree of BE with the name of Swati"

In [27]:
name="Swati"
age=30
degree="BE"
print("My age is {} and i have completed: my degree of {} with name {}".format(age,degree,name))

My age is 30 and i have completed: my degree of BE with name Swati

In [28]:
name="Swati"
age=30
degree="BE"
print(f"My age is {age} and i have completed : my degree of {degree} with name {name}")

My age is 30 and i have completed : my degree of BE with name Swati

### Control Flow

##### Decision Making Statements

In [29]:
##if statements
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [ ]:
## new lecture

In [2]:
age=int(input('Enter the age'))
if   age>=18 and age<=45:
    print('You are young blood')

Enter the age 17

In [3]:
age=int(input('Enter the age'))
if   age>=18 and age<=45:
    print('You are young blood')

Enter the age 30

You are young blood

In [5]:
## if ekse statements
age=int(input('Enter the age'))
if   age>=18 and age<=45:
    print('You are young blood')
else:
    print('Your application is rejected')

Enter the age 50

Your application is rejected

In [13]:
## task
product_price=int(input('Print the product price'))
if  product_price>1000:
    print('The price of the product is {}'.format(product_price*0.8))
else:
    print('The price of the product is {}'.format(product_price*0.7))

Print the product price 1500

The price of the product is 1200.0

In [15]:
product_price=int(input('Print the product price'))
if  product_price>1000:
    print('The price of the product is {}'.format(product_price*0.8))
else:
    print('The price of the product is {}'.format(product_price*0.7))

Print the product price 300

The price of the product is 210.0

In [18]:
product_price=int(input('Print the product price'))
if  product_price>3000:
    print('The price of the product is {}'.format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    print('The price of the product is {}'.format(product_price*0.7))
else: 
    print('The price of the product is {}'.format(product_price*0.6))

Print the product price 4000

The price of the product is 3200.0

In [19]:
product_price=int(input('Print the product price'))
if  product_price>3000:
    print('The price of the product is {}'.format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    print('The price of the product is {}'.format(product_price*0.7))
else: 
    print('The price of the product is {}'.format(product_price*0.6))

Print the product price 1800

The price of the product is 1080.0

In [21]:
product_price=int(input('Print the product price'))
if  product_price>3000:
    print('The price of the product is {}'.format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    print(f'The price of the product is {product_price*0.7}')
else: 
    print('The price of the product is {}'.format(product_price*0.6))

Print the product price 1000

The price of the product is 600.0

In [22]:
product_price=int(input('Print the product price'))
if  product_price>3000:
    print('The price of the product is {}'.format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    print(f'The price of the product is {product_price*0.7}')
elif product_price>100 and product_price<=2000:
    print(f'The price of the product is {product_price*0.6}')
else: 
    print('lets drink tea')

Print the product price 300

lets drink tea

In [29]:
product_price=int(input('Print the product price'))
if  product_price>3000:
    print('The price of the product is {}'.format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    if  product_price==2999:
        print('Eligible for additional gift')
    print(f'The price of the product is {product_price*0.7}')
elif product_price>100 and product_price<=2000:
    print(f'The price of the product is {product_price*0.6}')
elif product_price==2999:
    print('Eligible for additional gift')
else: 
    print('lets drink tea')

Print the product price 2999

Eligible for additional gift
The price of the product is 2099.2999999999997

In [30]:
product_price=int(input('Print the product price'))
if  product_price>3000:
    if product_price==4000:
        print('Congratulations you are eligible for a Goa Trip')
    print('The price of the product is {}'.format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    if  product_price==2999:
        print('Eligible for additional gift')
    print(f'The price of the product is {product_price*0.7}')
elif product_price>100 and product_price<=2000:
    print(f'The price of the product is {product_price*0.6}')
elif product_price==2999:
    print('Eligible for additional gift')
else: 
    print('lets drink tea')

Print the product price 4000

Congratulations you are eligible for a Goa Trip
The price of the product is 3200.0

In [33]:
## Comparison operstor
print(True==True)

True

In [35]:
## Single statement suites
val=int(input('Enter the number'))
if val<=999:print('Value is ess than equal to 999')

Enter the number 400

Value is ess than equal to 999

In [36]:
val=int(input('Enter the number'))
if val<=999:print('Value is ess than equal to 999')  
else:
    print('Go home')

Enter the number 1091

Go home

## Loop Statements
1. while loop
2. for loop
3. nested loop
4. loop control(break,continue,pass)

In [11]:
# while loop
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61

In [13]:
## while loop --while else
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print('Its time for retirement')

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Its time for retirement

In [14]:
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print('Its time for retirement')

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [22]:
## atm machine has 1000rs
## everytime transaction is done 100rs comes out
##if money is exhausted put condition
# !=   not equal to

total_amount=1000
while total_amount!=0:
    total_amount=total_amount-100
    print(total_amount)

900
800
700
600
500
400
300
200
100
0

In [31]:
total_amount=1000
while total_amount!=0:
        print(total_amount)
        total_amount=total_amount-100

1000
900
800
700
600
500
400
300
200
100

In [32]:
total_amount=1000
while total_amount!=0:
        print(total_amount)
        total_amount=total_amount-100
else:
    print('Paisa bharo bank walo')

1000
900
800
700
600
500
400
300
200
100
Paisa bharo bank walo

## For loop

In [25]:
lst=["swati",1,2,3,4,"apple","banana",0]

In [26]:
type(lst)

list

In [27]:
lst[0]

'swati'

In [30]:
lst[5]

'apple'

In [31]:
lst

['swati', 1, 2, 3, 4, 'apple', 'banana', 0]

In [32]:
for x in lst:
    print(x)

swati
1
2
3
4
apple
banana
0

In [6]:
fruits_list=["Mango","Cherry","Grapes","Banana","Pears"]

In [7]:
for i in fruits_list:
      print(i)

Mango
Cherry
Grapes
Banana
Pears

In [31]:
for i in fruits_list:
      print(i)
      if i=="Cherry":
        print("The fruit is Cherry")

Mango
Cherry
The fruit is Cherry
Grapes
Banana
Pears

In [34]:
for i in fruits_list:
      print(i,end='')
      if i=="Cherry":
        print("The fruit is Cherry")

MangoCherryThe fruit is Cherry
GrapesBananaPears

In [35]:
## string is a collection of elements

fruit="mango"
for x in fruit:
    print(x)

m
a
n
g
o

In [37]:
fruit[0]

'm'

In [39]:
fruit[4]

'o'

In [40]:
fruit="mango"
for x in fruit:
    print(x, end="")

mango

In [44]:
### Nested loops

for i in range(1,6):
    print(i)

1
2
3
4
5

In [46]:
# range and step

for i in range(1,6,2):
    print(i)

1
3
5

In [47]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [49]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [2]:
# for nested loop

n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("a",end="")

aaaaaaaaaaaaaaaaaaaaaaaaaaaa

In [14]:
## \r  is moving from left

n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("a",end="")
    print("\r")

a
aa
aaa
aaaa
aaaaa
aaaaaa
aaaaaaa

In [15]:
# \n is giving a line in between

n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("a",end="")
    print("\n")

a

aa

aaa

aaaa

aaaaa

aaaaaa

aaaaaaa

In [16]:
## Loop Controls
## Break and continue


fruit_list = ["Mango","Cherry","Guava","Apple","Banana"]

for i in fruit_list:
    print(i)

Mango
Cherry
Guava
Apple
Banana

In [21]:
for i in fruit_list:
    if i=="Apple":
        print("The fruit is apple")
    print(i)

Mango
Cherry
Guava
The fruit is apple
Apple
Banana

In [22]:
for i in fruit_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)

Mango
Cherry
Guava
The fruit is apple

In [23]:
for i in fruit_list:
    if i=="Apple":
        print("The fruit is apple")
        pass
    print(i)

Mango
Cherry
Guava
The fruit is apple
Apple
Banana

In [26]:
for i in fruit_list:
    if i=="Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
Cherry
Guava
The fruit is apple
Banana